# AWS Base Configuration
aws_region   = "YOUR_AWS_REGION"
project_name = "YOUR_PROJECT_NAME"
environment  = "YOUR_ENVIRONMENT"

# GitHub OIDC Configuration
github_org  = "YOUR_GITHUB_USERNAME"
github_repo = "YOUR_REPOSITORY_NAME"

# Alerts
notification_email = "[EMAIL_ADDRESS]"

# Backup Retention Policies (Days)
backup_retention_days         = 30
vault_lock_min_retention_days = 15
vault_lock_max_retention_days = 365